<%@ attribute name="subTitle" %>
<%@ tag body-content="tagdependent" %>
<img src="/images/megacat.png">
<br>
<em>
    subTitle:
    <strong>${subTitle}</strong>

</em>

<label>Body
    <jsp:body />
</label>